.pageHeader {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);

  .headerContent {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;
  }
}
